<a href="https://colab.research.google.com/github/jesme00/jesme00.github.io/blob/main/ObesityandOutletDataMerged.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook scrapes data the same as my other notebook, 'ObesityDataClean.ipynb', but just keeps 2020/21 data, as I only needed to match the most recent data to fast food outlet density data.

In [ ]:
pip install fingertips_py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fingertips_py in /usr/local/lib/python3.7/dist-packages (0.2.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from fingertips_py) (2.23.0)
Requirement already satisfied: pandas>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from fingertips_py) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->fingertips_py) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->fingertips_py) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.18.1->fingertips_py) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.18.1->fingertips_py) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->fingertips_py) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->fingertips_py) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->fingertips_py) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->fingertips_py) (3.0.4)

In [ ]:
import fingertips_py as ftp

In [ ]:
df=ftp.retrieve_data.get_all_data_for_indicators(93088, area_type_id=401, parent_area_type_id=15, filter_by_area_codes=None, is_test=False)
df2=df.drop(['Indicator Name','Sex','Age','Indicator ID','Compared to percentiles','Parent Code','Parent Name','Category Type','Count','Category','Lower CI 95.0 limit','Time period range','Time period Sortable','Upper CI 95.0 limit','Lower CI 99.8 limit','Upper CI 99.8 limit','Denominator','Value note','Recent Trend','New data','Compared to goal'],axis=1)
df3=df2.loc[df2["Area Name"] != "England" ]

In [ ]:
df3.head(3)

,Area Code,Area Name,Area Type,Time period,Value,Compared to England value or percentiles
134,E06000001,Hartlepool,Districts & UAs (from Apr 2021),2015/16,67.232891,Worse
135,E06000002,Middlesbrough,Districts & UAs (from Apr 2021),2015/16,67.580404,Worse
136,E06000003,Redcar and Cleveland,Districts & UAs (from Apr 2021),2015/16,68.727333,Worse

In [ ]:
df4=df3.loc[df3["Time period"] != "2015/16"]
df5=df4.loc[df4["Time period"] != "2016/17"]
df6=df5.loc[df5["Time period"] != "2017/18"]
df7=df6.loc[df6["Time period"] != "2018/19"]
df8=df7.loc[df7["Time period"] != "2019/20"]
df9=df8.drop(['Area Type'],axis=1)

In [ ]:
df9.head(3)

,Area Code,Area Name,Time period,Value,Compared to England value or percentiles
2349,E06000001,Hartlepool,2020/21,74.576608,Worse
2350,E06000002,Middlesbrough,2020/21,70.764041,Worse
2351,E06000003,Redcar and Cleveland,2020/21,68.494717,Worse

In [ ]:
df10=df9.round({"Value":1})

In [ ]:
df10.head(1)

,Area Code,Area Name,Time period,Value,Compared to England value or percentiles
2349,E06000001,Hartlepool,2020/21,74.6,Worse

In [ ]:
df10.to_csv("adultsoverweightorobese202021.csv")

I then downloaded the fast food density data as a CSV from PHE, found here: https://www.gov.uk/government/publications/fast-food-outlets-density-by-local-authority-in-england Because outlets were counted in 2017, the LA names were not consistent across the obesity dataset and the density dataset. I looked up any boundary name changes that have occured between 2017 and 2021, and changed names of 2017 LA data in the fast food density CSV, so that they would match up in the merged table. I did this using this spreadsheet from ONS (https://github.com/jesme00/jesme00.github.io/blob/main/LA%20Name%20Changes.xlsx) as well as Google searches.

For example, what historically was split into two districts, 'West Somerset' and 'Taunton Deane', is now a merged area called 'Somerset West'. The outlet count for Somerset West is a sum of the outlet data for West Somerset and Taunton Deane. To work out the rate per 100,000 population of Somerset West, I needed to approximate the population of the old area. I did this by calculating (COUNT OF OUTLETS/RATE PER 100,000 POPULATION)*100,000 for both West Somerset and Taunton Deane, then summing these populations together. I could then calculate the outlet density by dividing total outlet count by this approximated population. Why did I do this instead of collecting 2021 population data? The calculated density is likely to be more reflective of the true density by dividing the 2017 outlet count by the 2017 population: dividing 2017 outlet count by the 2021 population would, for example, understate concentration if the number of outlets has grown relative to the population since 2017.

Since there have been only very minor physical boundary changes, these changes entirely involved summing data for the specific 2017 districts next to each other to get the new merged 2020/21 UA data. I believe this is sufficent when mapping country-wide data because the areas are visually very small. I may have wanted to be more pedantic with the impact of changing physical boundaries on my population calculations if I was zooming into a particular part of England.

To see my working, changes can be viewed in this Excel file: https://github.com/jesme00/jesme00.github.io/blob/main/FoodDensityAndObesityLAMatching.xls 

The new CSV that combines the adultsoverweightorobese202021.csv with the outlet count and density data is saved in a tab of this file, but was loaded into my end map and regression work as the csv linked here: https://github.com/jesme00/jesme00.github.io/blob/main/FastFoodDensityAndObesity.csv