<a href="https://colab.research.google.com/github/jesme00/jesme00.github.io/blob/main/PDFScraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Source: Tackling Obesities: Future Choices - Project Report 2nd Edition by the Government Office for Science
(https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/287937/07-1184x-tackling-obesities-future-choices-report.pdf)

In [102]:
!pip install tabula-py

WARNING: Ignoring invalid distribution -illow (/usr/local/lib/python3.8/dist-packages)
WARNING: Ignoring invalid distribution -illow (/usr/local/lib/python3.8/dist-packages)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tabula-py in /usr/local/lib/python3.8/dist-packages (2.6.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.21.6)
Requirement already satisfied: distro in /usr/local/lib/python3.8/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
WARNING: Ignoring invalid distribution -illow (/usr/local/lib/python3.8/dist-packages)

In [103]:
import tabula
import warnings
import plotly.express as px
from datetime import datetime
from google.colab import drive, files, output # specific to Google Colab

warnings.filterwarnings('ignore')

In [105]:
url="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/287937/07-1184x-tackling-obesities-future-choices-report.pdf"

In [106]:
table=tabula.read_pdf(url, pages=45)

WARNING:tabula.io:Got stderr: Jan 08, 2023 5:36:26 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed
Jan 08, 2023 5:36:27 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed
Jan 08, 2023 5:36:29 PM org.apache.pdfbox.contentstream.PDFStreamEngine operatorException
SEVERE: Cannot read JPEG2000 image: Java Advanced Imaging (JAI) Image I/O Tools are not installed

In [107]:
table[0]

,Unnamed: 0,2007,2015,2025,2050
0,Total NHS costs of diabetes,2.0,2.2,2.6,3.5
1,Total NHS costs of coronary heart disease,3.9,4.7,5.5,6.1
2,Total NHS costs of stroke,4.7,5.2,5.6,5.5
3,Total NHS costs of other related diseases,6.8,7.4,7.8,7.8
4,Total cost (all related diseases),17.4,19.5,21.5,22.9
5,"NHS cost increase above current, due to elevat...",–,2.1,4.1,5.5
6,(overweight and obesity),NaN,NaN,NaN,NaN
7,NHS costs attributable to elevated BMI (overwe...,4.2,6.3,8.3,9.7
8,NHS costs attributable to obesity alone,NaN,NaN,NaN,NaN
9,(see Table 4 in Modelling Future Trends) 1,2.3,3.9,5.3,7.1
10,"Wider total costs of overweight and obesity, t...",NaN,NaN,NaN,NaN
11,costs (figures include rounding effects),NaN,NaN,NaN,NaN
12,NaN,15.8,27,37.2,49.9
13,Projected percentage of NHS cost @ £70 billion,6.0%,9.1%,11.9%,13.9%

In [108]:
df = table[0]
df.dropna(subset=df.columns[3:6], inplace=True)
df

,Unnamed: 0,2007,2015,2025,2050
0,Total NHS costs of diabetes,2.0,2.2,2.6,3.5
1,Total NHS costs of coronary heart disease,3.9,4.7,5.5,6.1
2,Total NHS costs of stroke,4.7,5.2,5.6,5.5
3,Total NHS costs of other related diseases,6.8,7.4,7.8,7.8
4,Total cost (all related diseases),17.4,19.5,21.5,22.9
5,"NHS cost increase above current, due to elevat...",–,2.1,4.1,5.5
7,NHS costs attributable to elevated BMI (overwe...,4.2,6.3,8.3,9.7
9,(see Table 4 in Modelling Future Trends) 1,2.3,3.9,5.3,7.1
12,NaN,15.8,27,37.2,49.9
13,Projected percentage of NHS cost @ £70 billion,6.0%,9.1%,11.9%,13.9%

In [109]:
import pandas as pd

In [110]:
df1=df

In [111]:
df1.at[9, 'Unnamed: 0'] = 'NHS costs attributable to obesity alone'
df1.at[12, 'Unnamed: 0'] = 'Wider total costs of overweight and obesity (7x direct costs)'

In [112]:
df2=df1
df2.rename(columns={'Unnamed: 0': 'Measure'}, inplace=True)

In [113]:
df2

,Measure,2007,2015,2025,2050
0,Total NHS costs of diabetes,2.0,2.2,2.6,3.5
1,Total NHS costs of coronary heart disease,3.9,4.7,5.5,6.1
2,Total NHS costs of stroke,4.7,5.2,5.6,5.5
3,Total NHS costs of other related diseases,6.8,7.4,7.8,7.8
4,Total cost (all related diseases),17.4,19.5,21.5,22.9
5,"NHS cost increase above current, due to elevat...",–,2.1,4.1,5.5
7,NHS costs attributable to elevated BMI (overwe...,4.2,6.3,8.3,9.7
9,NHS costs attributable to obesity alone,2.3,3.9,5.3,7.1
12,Wider total costs of overweight and obesity (7...,15.8,27,37.2,49.9
13,Projected percentage of NHS cost @ £70 billion,6.0%,9.1%,11.9%,13.9%

In [121]:
df3=df2.drop(['2007','2015'],axis=1)

In [122]:
df3

                                              Measure   2025   2050
0                         Total NHS costs of diabetes    2.6    3.5
1           Total NHS costs of coronary heart disease    5.5    6.1
2                           Total NHS costs of stroke    5.6    5.5
3           Total NHS costs of other related diseases    7.8    7.8
4                   Total cost (all related diseases)   21.5   22.9
5   NHS cost increase above current, due to elevat...    4.1    5.5
7   NHS costs attributable to elevated BMI (overwe...    8.3    9.7
9             NHS costs attributable to obesity alone    5.3    7.1
12  Wider total costs of overweight and obesity (7...   37.2   49.9
13     Projected percentage of NHS cost @ £70 billion  11.9%  13.9%

In [123]:
df3.to_csv('Future costs of elevated BMI (£ billion per year).csv', index=False)